body {
    background-color: bisque;
    margin: 0;
}
.content-wrap {
    padding: 50px 100px;
    background-color: dodgerblue;
}
section {
    height: 300px;
}
.head {
    background-color: grey;
}
.mid {
    background-color: #bbbbbb;
}
.footer {
    background-color: #121212;
}
h1, h1, h3, h4, h5, p {
    font-family: sans-serif;
    color: white;
}